@import 'variables';

@import '~bulma';
@import "~noty/src/noty.scss";
@import "~noty/src/themes/sunset.scss";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: url('~@images/background.jpg') no-repeat fixed;

}

#body-wrapper {
  flex: 1;

  .content-footer {
    padding-top: $size-7;
    border-top: 1px solid $grey-lighter;
  }
}

#sidebar {
  .menu {
    background-color: rgba($primary, .1);
    padding: $size-4 $size-4 $size-4 * 2 $size-4;

  }
}

textarea:not([resize="true"]) {
 ze: none !important;
}

select {
  &:invalid {
    color: #fff !important;
  }


}
