<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <%= link_to t('company_name'), 'https://www.leobit.com', class: 'has-text-white has-text-weight-bold' %>
      ©
      <%= t('initial_year') %>
    </p>
  </div>
</footer>
